{% extends "no_script.html" %}
{% block content %}
<section class="panel">
  <div class="inner">
    <h1>Dashboard</h1>
    
    {% if error%}
      <p><class=error><strong>Error:</strong> {{error}}
    {% endif %}

    <form action="/dashboard/<Email>" method="POST">
      <label>Messages</label>
      <input class="btn show" type=submit value="Logout"/>
    </form>

    <form action="/dashboard/<Email>" method="DELETE">
      <label>Delete Your Account</label>
      <input class="btn show" type="submit" value="Delete" />
    </form>

    {% for message in get_flashed_messages() %}
    <div class=flash>
      {{message}}
    </div>
    {% endfor %}
  </div>
</section>
{% endblock %}
