{% extends "no_script.html" %} {% block content %}
<section class="panel">
  <div class="inner">
    <h1>
      Hello there!
    </h1>
    <p>
      Welcome to USACS Secret Santa 2019! Sign Up for a gift and we'll send you
      an email when our matches are ready.
    </p>
    <a href="/login">
      <button class="btn show">
        Login
      </button>
    </a>
    <a href="/register">
      <button class="btn show">
        Register
      </button>
    </a>
  </div>
</section>
{% endblock %}
