{% extends "template.html" %}                                                                                    
{% block content %}
  {% if error%}
    <p class=error>
      {{error}}
    </p>
  {% endif %}

  {% for message in get_flashed_messages() %}
    <div class=flash>
      {{message}}
    </div>
  {% endfor %}

  <form action="/login" method="POST">
    <section class="panel">
      <div class="inner">
        <h1>Enter Your Email Address</h1>
        <input
          name="Email"
          class="input-field"
          type="email"
          placeholder="Email Address"
        />
      </div>
    </section>
    <section class="panel">
      <div class="inner">
        <h1>Enter Your Password</h1>
        <input name="Password" class="input-field" type="password" placeholder="Password" />
      </div>
    </section>
    <section class="panel">
      <div class="inner">
        <h1 class="center">Thanks Yo!</h1>
      </div>
    </section>
  </form>
{% endblock %}
