<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>USACS Secret Santa — 2019</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="/static/css/main.css"
    />
  </head>
  <body>
    <main>
      <div id="preloader">
        <div id="title">Secret Santa</div>
      </div>

      <div id="main">
        {% block content %}
        {% endblock%}
      </div>
    </main>
    <script>
      const settings = {
        hasLast: false
      };
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/plugins/CSSPlugin.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/easing/EasePack.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TimelineMax.min.js"></script>
    <script src="/static/js/SplitText.js"></script>
    <script src="/static/js/main.js"></script>
  </body>
</html>
